<!--The content below is only a placeholder and can be replaced.-->
<!-- <div style="text-align:center">
  <kendo-toolbar>
    <app-custom-tool [text]="'Crossroads PCA Web App'"></app-custom-tool>
  </kendo-toolbar>
</div> -->
<div class="custom-toolbar">
  <button
      kendoButton
      icon="layout"
      look="flat"
      (click)="drawer.toggle()"
  >
      <span class="mail-box">Crossroads PCA Web App</span>
  </button>
  <div *ngIf="!userInfo">
    <kendo-buttongroup [selection]="'single'">
      <button kendoButton [toggleable]="true" (click)="goAuth('facebook')">
        Facebook
      </button>
      <button kendoButton [toggleable]="true" (click)="goAuth('google')">
        Google
      </button>
      <button kendoButton [toggleable]="true" (click)="goAuth('twitter')">
        Twitter
      </button>
    </kendo-buttongroup>
  </div>

</div>
<kendo-drawer-container>
  <kendo-drawer #drawer
      [items]="items"
      [width]="100"
      [mode]="'push'"
      [(expanded)]="expanded"
      [mini]="true"
  >
      <ng-template kendoDrawerItemTemplate let-item>
        <span class="k-icon item-icon {{ item.icon }}"></span>
          <div class="k-drawer-link" [routerLink]="item.path">
              <span>{{ item.text }}</span>
          </div>
      </ng-template>
  </kendo-drawer>

  <kendo-drawer-content>
      <router-outlet></router-outlet>
  </kendo-drawer-content>
</kendo-drawer-container>

