<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <kendo-toolbar>
    <p class="k-block" style="color: #0000ff;">
    <kendo-toolbar-button [text]="'Crossroads PCA Web App'" look="flat">

    </kendo-toolbar-button>
  </p>
  </kendo-toolbar>
</div>
<div class="custom-toolbar">
  <button
      kendoButton
      icon="layout"
      look="flat"
      (click)="drawer.toggle()"
  >
      <span class="mail-box">Assignments</span>
  </button>
</div>
<kendo-drawer-container>
  <kendo-drawer #drawer
      [items]="items"
      [width]="100"
      [mode]="'push'"
      [(expanded)]="expanded"
  >
      <ng-template kendoDrawerItemTemplate let-item>
          <div class="k-drawer-link" [routerLink]="item.path">
              <span>{{ item.text }}</span>
          </div>
      </ng-template>
  </kendo-drawer>

  <kendo-drawer-content>
      <router-outlet></router-outlet>
  </kendo-drawer-content>
</kendo-drawer-container>

