<p>deacon-detail works!</p>
<div class="example-wrap">
  <form class="k-form" [formGroup]="deaconForm">
    <div class="wrap">
      <kendo-formfield>
        <kendo-label [for]="month" text="Month"></kendo-label>
        <kendo-dropdownlist #month formControlName="month" [data]="listMonths">
        </kendo-dropdownlist>
        <kendo-formhint>Deacon Calendar Month</kendo-formhint>
      </kendo-formfield>
      <kendo-formfield>
        <kendo-label [for]="year" text="Year"></kendo-label>
        <kendo-dropdownlist #year formControlName="year" [data]="listYears">
        </kendo-dropdownlist>
        <kendo-formhint>Deacon Calendar Year</kendo-formhint>
      </kendo-formfield>
      <kendo-formfield>
        <kendo-label [for]="deacon" text="Deacon"></kendo-label>
        <kendo-combobox

        [data]="deaconList$ | async"
        [textField]="'name'"
        [valueField]="'id'"
        [value]="selectedDeacon"
        [placeholder]="'Select A Deacon'"
        #deacon
        (selectionChange)="selectionDeacon($event)"
        formControlName="deacon"
      >
        </kendo-combobox>
        <kendo-formhint>Deacon on duty for month</kendo-formhint>
        <kendo-formerror>Error: Deacon is required</kendo-formerror>
      </kendo-formfield>
      <div class="k-form-buttons">
        <button class="k-button k-primary" [disabled]="!canAdd"  (click)="clickAdd()">Add</button>
        <button class="k-button" (click)="clearForm()">Reset</button>
      </div>
    </div>

  </form>
</div>
