<div class="example-wrap">
  <form class="k-form" [formGroup]="attendeeDashboardForm">
    <div class="k-form-buttons" *ngIf="isAdmin$ | async">
      <button class="k-button k-primary" [disabled]="!canAdd"  (click)="clickAdd()">Add</button>
      <button class="k-button" [disabled]="!canCancel"  (click)="clickCancel()">Cancel</button>
    </div>
    <div *ngIf=displayDetails>
      <app-attendee-detail id={{attendeeid}} (attendeeAdded) = 'hideDetails($event)'></app-attendee-detail>
    </div>
    <div *ngIf=!displayDetails>
      <app-attendee-list (attendeeEdited) = 'showDetails($event)'></app-attendee-list>
    </div>
  </form>
</div>
