<div class="example-wrap">
  <form class="k-form" [formGroup]="deaconDashboardForm">
    <div class="k-form-buttons" *ngIf="isDeacon$ | async">
      <button class="k-button k-primary" [disabled]="!canAdd"  (click)="clickAdd()">Add</button>
      <button class="k-button" [disabled]="!canCancel"  (click)="clickCancel()">Cancel</button>
    </div>
    <div *ngIf=displayDetails>
       <app-deacon-detail id={{diaconateid}} ></app-deacon-detail>
    </div>
    <div *ngIf=!displayDetails>
      <app-deacon-list (editDiaconateItem) = 'showDetails($event)'></app-deacon-list>
    </div>
  </form>
</div>


